.expense__section {
  background: #262B33;
  height: 42px;
  width: 100%;
  padding: 32px 0;
}

.expense__form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  height: 100%;
}

.expense__field {
  height: 100%;
  display: flex;
  align-items: center;
}

.expense__field > label {
  font-weight: 600;
  font-size: 14px;
}

.expense__field > label > input,
.expense__field > label > select,
.expense__field > button {
  background: white;
  border: 0;
  border-radius: 4px;
  height: 38px;
  padding: 5px;
  margin-left: 10px;
}

.expense__field > button {
  color: white;
  background: #0079FC;
  padding: 0 10px;
  font-weight: 700;
  cursor: pointer;
} 