.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.header__login {
  display: flex;
  justify-content: flex-end;
}

.header__login p {
  margin-right: 30px;
}
