body {
  align-items: center;
  margin: 50%;
}

.div-login {
  align-content: center;
  align-self: center;
  border-color: lightblue 1px solid;
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 60%;
}

.input-login {
  border-color: lightblue;
  display: flex;
  margin: 5px;
  width: 20%;
}

.input-button {
  border-color: lightblue;
  display: flex;
  margin: 5px;
  text-align: center;
  width: 21%;
}

.fieldset {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
