@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap') ;

body {
  color: white;
}

button , input:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}

.login-page {
  align-items: center;
  background-color: #252525;
  display: flex;
  height: 100vh;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
}

.login-field {
  align-items: center;
  border: 5px solid #0fa36b;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  min-width: 300px;
  width: 50vw;
}

.trybe-logo {
  margin-bottom: 50px;
  width: 300px;
}

.login-title {
  font-family: Oswald, sans-serif;
  font-size: 5vh;
}

.login-input {
  background-color: #252525;
  border: 1px solid #0fa36b;
  box-sizing: border-box;
  color: white;
  height: 50px;
  margin-bottom: 20px;
  padding: 5px 10px;
  width: 70%;
}

.login-button {
  background-color: #0fa36b;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  height: 50px;
  min-width: 100px;
  width: 70%;
}

.login-button:disabled {
  background-color: #06442c;
  color: #949494;
  cursor: auto;
  transition: 300ms;
}
