body {
  align-items: center;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  width: 100vw;
}

form {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  position: relative;
  width: 250px;
}

label {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

input {
  border-radius: 5px;
  border-style: hidden;
  height: 40px;
  text-align: center;
}

select {
  border-radius: 5px;
  border-style: hidden;
  height: 40px;
  text-align: center;
}

button {
  background-color: rgb(184, 0, 71);
  border: transparent;
  border-radius: 5px;
  height: 40px;
  margin: 10px;
  width: 100px;
}

.wallet {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: black;
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  position: relative;
  width: 100vw;
}

.wallet-form {
  background-color: rgb(87, 87, 87);
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-evenly;
  position: relative;
  width: 100vw;
}

table {
  background-color: white;
}

th {
  background-color: white;
  color: rgb(0, 0, 165);
}

td {
  background-color: white;
  color: black;
}

.table button {
  height: 30px;
  width: 30px;
}

.btn-table {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-table:first-child{
  background-color: coral;
}

.edit-form {
  background-color: rgb(45, 116, 100);
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-evenly;
  position: relative;
  width: 100vw;
}