.login-form {
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}
