.expense {
  align-items: center;
  background-color: lightslategray;
  color: #ffffff;
  display: flex;
  flex-direction: row;  
  flex-flow: wrap;
  font-size: 1.5vmin;
  justify-content: center;
  min-height: 10vh;
}

label {
  padding: 0 15px;
}

.input {
  border: 1px solid #424752;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.5vh;
  width: auto;
}

.button {
  background-color: #2ec18b;
  border-radius: 5px;
  font-size: 1.5vh;
  padding: 10px;
  width: 300px;
}

.login-link {
  color: #61dafb;
}
