.header-container {
  background-color: burlywood;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3 , h4 {
  margin-right: 5px;
}

.email-field {
  margin-left: 15px;
}

.total-container {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}
