/* Css retirado de https://bootsnipp.com/snippets/P3OB7 */

.container {
  margin-left: 500px;
  margin-top: 200px;
  padding: 40px 40px;
  width: 350px;
}

.card {
  background-image: linear-gradient(rgb(12, 97, 33), rgb(184, 241, 203));
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0 auto 25px;
  margin-top: 50px;
  padding: 20px 25px 30px;
}

.profile-img {
  border-radius: 50%;
  display: block;
  height: 96px;
  margin: 0 auto 10px;
  width: 96px;
}

input,
button {
  box-sizing: border-box;
  display: block;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.btn {
  background-color: rgb(255, 238, 5);
  border-radius: 5px;
  font-weight: 700;
  height: 36px;
  margin-top: 3px;
  transition: all 0.218s;
}
