.wallet-table {
  background-color: white;
  color: rgb(46, 46, 46);
  margin-top: 20px;
  padding: 5px;
}

.wallet-table-head {
  background-color: rgba(156, 156, 156, 0.493);
  padding: 5px 10px;
}

.wallet-table-data {
  padding: 5px 10px;
}

.wallet-table-button {
  background-color:rgba(255, 0, 0, 0.897);
  border: solid 1px rgba(160, 160, 160, 0.473);
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(145, 145, 145, 0.514);
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  height: 26px;
  margin: 10px;
  width: 40px;
}