.expenses__table {
  border-collapse: collapse;
  width: 100%;
}

.expenses__table thead {
  background: #31393e;
  color: white;
}

.expenses__table th , .expenses__table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.expense__delete {
  background: #d8363c;
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  padding: 10px;
}
