body {
  margin: 1px;
}

.App {
  text-align: center;
}

.metPag {
  width: 130px;
}

h1 {
  color: aliceblue;
}

.info-fields {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.emailContainer {
  align-self: center;
  display: flex;
  margin-left: 10px;
}

.despesaContainer {
  align-self: center;
  display: flex;
  margin-right: 30px;
}

.despesaTot {
  margin-left: 20px;
}

.varExpenses {
  align-self: center;
  margin: 10px;
}

label {
  margin-left: 10px;
}

.ItemsTable {
  background-color: black;
  border: 1px solid black;
  color: rgb(239, 245, 244);
}

tbody {
  border: 1px solid rgb(247, 244, 244);
  background-color:#4e4f55;
}
td {
  text-align: center;
}

.button-td {
  display: flex;
  margin-left: 30px;
}

.btnExcluir {
  margin: 5px;
}

.btnEditar {
  margin: 5px;
}

select {
  height: 22px;
  margin-left: 5px;
  width: 80px;
}

.info-budget {
  align-items: center;
  border: 1px solid;
  display: flex;
  height: 40px;
  margin-top: 5px;
  padding: 5px;
}

.btnAdd {
  margin: 10px;
}

.actualValue {
  margin-left: 5px;
  margin-right: 10px;
  width: 50px;
}

.description {
  height: 18px;
  margin-left: 3px;
  margin-right: 10px;
  width: 200px;
}

.header-user {
  background-color: #4e4f55;
  border: 1px solid black;
  color: aliceblue;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  margin-left: 100px;
}

.button-send {
  margin-top: 15px;
}

.pai {
  align-items: center;
  background-color: #282c34;
  border: 1px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 400px;
  justify-content: center;
  margin-left: 400px;
  margin-top: 110px;
  width: 500px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
