@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.login-container {
  align-items: center;
  background-color: #19684a;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-box {
  align-items: center;
  background-color: #EBEBE8;
  border-radius: 3rem;
  box-shadow: 0px 4px 4px#0000003b;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  width: 70vw;
}

.login-box h1 {
  font-family: 'Raleway', sans-serif;
}

.login-inputs input {
  border-radius: 0.5rem;
  box-shadow: 0px 1px 3px#a1a1a17c;
  border: none;
  text-align: center;
  font-size: larger;
  margin-bottom: 1vh;
  height: 5vh;
  width: 50vw;
}

.login-inputs input:focus {
  box-shadow: 0px 1px 4px#5f5f5f7c;
  outline: none;
}

.login-box button {
  background-color: #2ec18b;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 3px#a1a1a17c;
  color: #ffffff;
  font-size: larger;
  height: 5vh;
  width: 50vw;
}

.login-box button:focus {
  box-shadow: 0px 1px 4px#5f5f5f7c;
  outline: none;
}

.coin-anime {
  height: 200px;
}

.logo {
  height: 30%;
}
