.App {
  font-size: 15px;
  text-align: center;
}

.App-logo {
  border-radius: 50%;
  height: 35px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #2ec18b;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  justify-content: space-between;
  padding: 0 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.board {
  background-color: lightslategray;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.button {
  align-content: center;
  background-color: #2ec18b;
  border-radius: 15px 0px 15px 5px;
  font-size: inherit;
  height: 35px;
  outline: none;
  padding: 5px;
  margin-left: 5px;
  width: 200px;
}

.expense {
  align-items: center;
  background-color: lightslategray;
  color: white;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

label {
  font-size: 15px;
  padding: 0 5px;
}

.form {
  align-items: center;
  background-color: lightslategray;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-content: center;
  height: 300;
  padding: 5px;
}

.input {
  border: 1px solid #424752;
  border-radius: 15px 3px 15px 5px;
  box-sizing: border-box;
  font-size: 15px;
  height: 35px;
  margin-left: 5px;
  outline: none;
  padding: 5px;
}

table {
  background-color: #f2f2f2;
  border-collapse: collapse;
  padding: 2px;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: white;
}

th {
  background-color: #353b46;
  color: white;
}
