#root {
  height: 100%;
  width: 100%;
}

html , body , header , .login-grid , .wallet-grid {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.login-grid {
  flex-direction: column;
}

.wallet-grid {
  align-items: flex-start;
}

header {
  height: auto;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}