.form-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.form-wrapper form {
  align-items: center;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  width: 500px;
}

.form-wrapper form section {
  margin-bottom: 15px;
  width: 50%;
}

.form-wrapper form section:last-child {
  align-self: flex-end;
}

.form-wrapper form section input {
  margin-left: 10px;
}

.form-wrapper form section label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
