.App {
  text-align: center;
  font-size: 15px;
}

.App-logo {
  height: 35px;
  pointer-events: none;
  border-radius: 50%;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #2ec18b;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  justify-content: space-between;
  padding: 0 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.board {
  background-color: lightslategray;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.button {
  align-content: center;
  background-color: #2ec18b;
  border-radius: 5px;
  font-size: inherit;
  height: 35px;
  padding: 5px;
  margin-left: 5px;
  width: 200px;
}

.expense {
  align-items: center;
  background-color: lightslategray;
  color: #ffffff;
  display: flex;
  flex-direction: row;  
  flex-flow: wrap;
  justify-content: center;
}

label {
  padding: 0 5px;
  font-size: 15px;
}

.form {
  align-items: center;
  background-color: lightslategray;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-content: center;
  height: 300;
  padding: 5px;
}

.input {
  border: 1px solid #424752;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 15px;
  height: 35px;
  margin-left: 5px;
  padding: 5px;
}


table {
  background-color: #353b46;
  padding: 2px;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #353b46;
  color: white;
}