header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

form {
  background-color: #000000c7;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.login {
  justify-content: flex-start;
}

.button-entrar {
  margin-left: 10px;
}

label {
  color: white;
  margin: 5px;
}

.header-expenses {
  background-color: gray;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

.header-expenses div {
  width: 150px;
}

.expenses-itens {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

.expenses-itens div {
  width: 150px;
}
