body {
  background-color: rgb(23, 164, 186);
  margin: 0;
}

.login-box {
  background-color: rgb(247, 247, 247);
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0 auto 25px;
  margin-top: 50px;
  padding: 40px 25px 30px;
  width: 350px;
}

.inputLogin {
  border: 1px solid rgb(204, 204, 204);
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

table {
  margin: 0 auto 25px;
  margin-top: 50px;
  padding: 40px 25px 30px;
  width: 1000px;
}

th {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 20px 15px;
  text-align: left;
  text-transform: uppercase;
}

td {
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 12px;
  font-weight: 300;
  padding: 15px;
  text-align: left;
  vertical-align:middle;
}

ul {
  background-color: rgb(51, 51, 51);
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

li {
  color: white;
  float: left;
  text-decoration: none;
}

li label {
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
}
