body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#0ca268 100%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  color: rgb(68, 67, 67);
  margin: 2rem 0;
}

table  thead {
  font-size: 18px;
}

table  th {
  padding: 0 0.8rem;
}
table  td {
  padding: 0 0.8rem;
}

/* Wallet */
.walletPanel{
  padding: 2rem 0.8rem;
}

.emptyTable{
  text-align: center;
  padding: 2rem 0;  
  color: #daa70b;
}

.walletPanelHeader{
  padding: 0 0.8rem;
  display: flex;
  justify-content: space-between;
}

.AddExpenseFormWrapper{
    padding: 2rem 0.8rem;
    background: #070707;
    color: white;
}

.editExpenseFormWrapper{
  background: #ebeaee;
  color: black;
}
